/* Layouts */
#presentation {
  position: relative;
  width: 100%;
  height: 450px;
  background: #55AC40;
  text-align: center;
}

#presentation > .downloads {
  position: relative;
  top: 120px;
}

#presentation > .features {
  position: relative;
  top: 140px;
}


#fixed-menu {
  position: fixed;
  width: 100%;
  height: 45px;
  top: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding-top: 15px;
  background: #55AC40;
}

/* Modules */

.nav-item {
  height: 35px;
  margin-left: 25px;
  float: left;

  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 25px;
  color: white;
}

.nav-item:hover{
  border-bottom: 3px solid white;
}

.nav-item.active {
  border-bottom: 3px solid white;
}

.main-title {
  margin-bottom: 30px;
  font-weight: 100;
  text-align: center;
  color: white;
}

.button {
  background: none;
  padding: 10px;
  margin: 0px 10px;

  border: 1px solid white;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

.fa-github {
  font-size: 30px;
}

.feature-list {
  color: white;
  list-style: none;
  font-size: 20px;
  padding: 0;
}

.feature-list li {
  margin: 10px 0px;
}

.feature-list li i {
  margin-right: 5px;
}

.container {
  width: 90%;
  margin: 0px auto;
}

.separator {
  text-align: center;
  border-top: 1px solid #ddd;
  margin: 40px 0 -30px;
  letter-spacing: 1px;
}

.separator h5 {
  position: relative;
  top: -35px;
  display: inline-block;
  padding: 0 1em;
  background-color: #fff;
  color: #bbb;
  font-weight: 400;
}

.column {
  display: inline-block;
}

.half-width {
  width: 44%;
  margin: 0 2.5%;
}

/* States */

.pull-right {
  position: relative;
  right: 5%;
}

/* Helpers */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
